@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
  margin: 0 !important;
  /* padding: 0 !important; */
}

.main_page {
  width: 100vw;
  height: 100vh;
  font-family: "Nanum Gothic", sans-serif;
  background-color: rgb(33, 33, 33);
  /* background-color: #000000; */
  background-image: url("../Img/background.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: top center;
}
