@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
  margin: 0 !important;
  box-sizing: border-box;
  /* padding: 0 !important; */
}

.main_page {
  width: 100vw;
  height: 100vh;
  font-family: "Nanum Gothic", sans-serif;
  background-color: rgb(33, 33, 33);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_div {
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input_div {
  display: flex;
  flex-direction: column;
  /* padding-bottom: 100px; */
}

.input_title {
  color: white;
  font-size: 15px;
  text-align: center;
  padding-bottom: 15px;
}

.name_input {
  width: 500px;
  padding: 10px 30px;
  font-size: 20px;
  text-align: center;
  /* padding-bottom: 30px; */
}

.text_input {
  height: 300px;
  width: 500px;
  padding: 30px;
  font-size: 30px;
  text-align: center;
}

.guide_text {
  color: white;
  font-size: 15px;
  line-height: 150%;
}
