@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  margin: 0 !important;
}

.main_page {
  width: 100vw;
  height: 100vh;
  background-color: #151415;
  font-family: "Noto Sans KR", sans-serif;

  background-image: url("../Img/bg_main.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: top center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ghost_story_des {
  position: relative;
  font-size: 20px;
  text-align: center;
  color: #151515;
  border: #e3e3e3 solid 1.5px;
  background-color: #d8d8d8;
  border-radius: 10px;
  padding: 30px 90px;
}
.ghost_story_des::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 18px solid transparent;
  border-top: 25px solid #d8d8d8;
}

.ghost_whale_img {
  width: 77px;
  padding: 50px 0 50px 0;
}

.ghost_btns {
  width: 455px;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.btn_trans {
  font-size: 20px;
  font-weight: bold;
  color: #d9d9d9;
  border: #d9d9d9 1px solid;
  border-radius: 30px;
  width: 215px;
  background-color: transparent;
  padding: 14px 20px;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
}
.btn_make {
  font-size: 20px;
  font-weight: bold;
  width: 215px;
  background-color: #d9d9d9;
  color: #000;
  border: #000 1px solid;
  border-radius: 30px;
  padding: 14px 20px;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
}
