@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.main_div {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
}

.main_whale {
  position: relative;
  /* width: 100%; */
}

.main_whale_img {
  width: 100px;
  padding-bottom: 30px;
  animation: move_whale 4s infinite linear;
}

.main_title {
  font-size: 35px;
  padding-bottom: 30px;
  font-family: "Noto Sans KR", sans-serif !important;
}

.first_hidden {
  visibility: hidden;
  width: 300px;
  position: absolute;
  top: -30px;
  left: 140px;
}

.next_hidden {
  opacity: 0;
  width: 300px;
  position: absolute;
  top: -30px;
  left: 140px;
  animation: hide_bubble 0.5s linear;
}

.main_whale_bubble {
  /* opacity: 0; */
  width: 300px;
  /* padding: 20px; */
  position: absolute;
  top: -30px;
  left: 140px;
  animation: show_bubble 0.5s linear, move_whale 4s infinite linear;
}

.main_whale_bubble_text {
  position: relative;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif !important;
  font-weight: bold;
  font-size: 15px !important;
  color: rgb(33, 33, 33);
  background-color: #d8d8d8;
  border-radius: 10px;
  padding: 20px;
}
.main_whale_bubble_text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  border: 10px solid transparent;
  border-right: 10px solid #d8d8d8;
  border-bottom: 10px solid #d8d8d8;
}

.main_description {
  width: 650px;
  text-align: center;
  color: rgb(180, 180, 180);
  padding-bottom: 50px;
  line-height: 180%;
}

.main_infos {
  border-top: 1px solid white;
  border-bottom: 1px solid white;

  width: 650px;
  display: flex;
  /* justify-content: space-between; */
}

.main_info {
  padding: 20px 60px 20px 0;
}
.main_info_title {
  padding-bottom: 15px;
}
.main_info_des {
  color: rgb(180, 180, 180);
}

.main_cookie {
  width: 650px;
  padding-top: 20px;
}
.cookie_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  /* flex-direction: column; */
}
.cookie_toggle_no {
  width: 50px;
  height: 23px;
  position: relative;
  background-color: #cccccc;
  border-radius: 25px;
  cursor: pointer;
}
.cookie_toggle_yes {
  width: 50px;
  height: 23px;
  position: relative;
  background-color: #00dc9b;
  border-radius: 25px;
  cursor: pointer;
}
.cookie_toggle_no .toggle_btn,
.cookie_toggle_yes .toggle_btn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 1.8px;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: #fff;
}
.cookie_toggle_yes .toggle_btn {
  left: calc(100% - 22px);
}
.cookie_toggle_no,
.cookie_toggle_yes,
.toggle_btn {
  transition: all 0.1s linear;
}

@keyframes move_whale {
  0%,
  100% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-4px);
  }
  85% {
    transform: translateY(2px);
  }
}

@keyframes show_bubble {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide_bubble {
  from {
    opacity: 1;
  }
  /* 50% {
    opacity: 1;
  } */
  to {
    opacity: 0;
  }
}
